In [71]:
import pandas as pd
from datetime import datetime

In [72]:
df = pd.read_csv("../data/nyc_311_limit_2020.csv", nrows = 10000, header = None)
df

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
0,46920293,2020-07-20 10:51:12,2020-09-05 12:32:48,DPR,Department of Parks and Recreation,Damaged Tree,Branch or Limb Has Fallen Down,Street,11234.0,1749 EAST 31 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.611464,-73.939434,"(40.61146397103902, -73.93943433010804)"
1,46930483,2020-07-21 14:13:58,2020-09-05 13:37:31,MAYORâS OFFICE OF SPECIAL ENFORCEMENT,Mayorâs Office of Special Enforcement,NonCompliance with Phased Reopening,Business not in compliance,Store/Commercial,11210.0,2704 GLENWOOD ROAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.633719,-73.950720,"(40.633718643537684, -73.9507199410522)"
2,46997111,2020-07-27 12:56:33,2020-09-05 08:51:14,DPR,Department of Parks and Recreation,Damaged Tree,Branch or Limb Has Fallen Down,Street,11354.0,151-23 28 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.772734,-73.812660,"(40.77273372358884, -73.81266028241241)"
3,46583727,2020-06-22 18:17:00,2020-06-23 08:59:00,DOT,Department of Transportation,Street Light Condition,Street Light Lamp Missing,NaN,10451.0,2510 PARK AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,46576371,2020-06-21 03:30:00,2020-06-22 21:50:00,DOT,Department of Transportation,Street Light Condition,Street Light Cycling,NaN,10031.0,393 EDGECOMBE AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,45299623,2020-01-03 14:59:38,2020-01-21 09:02:20,HPD,Department of Housing Preservation and Develop...,PAINT/PLASTER,WALL,RESIDENTIAL BUILDING,11207.0,509 HINSDALE STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.662233,-73.898201,"(40.6622326, -73.8982006)"
9996,45299625,2020-01-03 15:06:27,2020-01-03 16:19:46,NYPD,New York City Police Department,Noise - Vehicle,Car/Truck Horn,Street/Sidewalk,11366.0,159-06 UNION TURNPIKE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.720328,-73.807761,"(40.7203282, -73.8077606)"
9997,45299627,2020-01-03 10:06:00,2020-01-03 12:00:00,DSNY,BCC - Brooklyn South,Missed Collection (All Materials),1R Missed Recycling-All Materials,Sidewalk,11223.0,2441 CONEY ISLAND AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.597329,-73.961103,"(40.5973294, -73.961103)"
9998,45299631,2020-01-03 18:14:23,2020-01-03 20:17:18,NYPD,New York City Police Department,Illegal Parking,Blocked Bike Lane,Street/Sidewalk,11205.0,119 VANDERBILT AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.694371,-73.970065,"(40.6943711, -73.9700654)"
9999,45299632,2020-01-03 08:24:33,2020-01-04 17:04:02,HPD,Department of Housing Preservation and Develop...,HEAT/HOT WATER,ENTIRE BUILDING,RESIDENTIAL BUILDING,11377.0,41-26 53 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.745089,-73.911394,"(40.7450888, -73.9113944)"

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 41 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       10000 non-null  int64
 1   1       10000 non-null  object
 2   2       10000 non-null  object
 3   3       10000 non-null  object
 4   4       10000 non-null  object
 5   5       10000 non-null  object
 6   6       9766 non-null   object
 7   7       7565 non-null   object
 8   8       10000 non-null  float64
 9   9       9631 non-null   object
 10  10      9631 non-null   object
 11  11      7217 non-null   object
 12  12      7217 non-null   object
 13  13      6566 non-null   object
 14  14      6566 non-null   object
 15  15      4044 non-null   object
 16  16      9206 non-null   object
 17  17      5403 non-null   object
 18  18      204 non-null    object
 19  19      10000 non-null  object
 20  20      0 non-null      float64
 21  21      9891 non-null   object
 22  22      9893 non-null   object
 23  23      10000 non-null  object
 24  24      8524 non-null   float64
 25  25      10000 non-null  object
 26  26      9672 non-null   float64
 27  27      9672 non-null   float64
 28  28      10000 non-null  object
 29  29      9994 non-null   object
 30  30      10000 non-null  object
 31  31      1 non-null      object
 32  32      3 non-null      object
 33  33      122 non-null    object
 34  34      0 non-null      float64
 35  35      0 non-null      float64
 36  36      0 non-null      float64
 37  37      0 non-null      float64
 38  38      9924 non-null   float64
 39  39      9924 non-null   float64
 40  40      9924 non-null   object
dtypes: float64(11), int64(1), object(29)
memory usage: 3.1+ MB

In [73]:
df[1] = df[1].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
df[2] = df[2].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))

df['Response_time'] = (df[2] - df[1]).dt.total_seconds()
df['Response_time'] = df['Response_time'].apply(lambda x: divmod(x, 3600)[0])
df

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,Response_time
0,46920293,2020-07-20 10:51:12,2020-09-05 12:32:48,DPR,Department of Parks and Recreation,Damaged Tree,Branch or Limb Has Fallen Down,Street,11234.0,1749 EAST 31 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,40.611464,-73.939434,"(40.61146397103902, -73.93943433010804)",1129.0
1,46930483,2020-07-21 14:13:58,2020-09-05 13:37:31,MAYORâS OFFICE OF SPECIAL ENFORCEMENT,Mayorâs Office of Special Enforcement,NonCompliance with Phased Reopening,Business not in compliance,Store/Commercial,11210.0,2704 GLENWOOD ROAD,...,NaN,NaN,NaN,NaN,NaN,NaN,40.633719,-73.950720,"(40.633718643537684, -73.9507199410522)",1103.0
2,46997111,2020-07-27 12:56:33,2020-09-05 08:51:14,DPR,Department of Parks and Recreation,Damaged Tree,Branch or Limb Has Fallen Down,Street,11354.0,151-23 28 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,40.772734,-73.812660,"(40.77273372358884, -73.81266028241241)",955.0
3,46583727,2020-06-22 18:17:00,2020-06-23 08:59:00,DOT,Department of Transportation,Street Light Condition,Street Light Lamp Missing,NaN,10451.0,2510 PARK AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0
4,46576371,2020-06-21 03:30:00,2020-06-22 21:50:00,DOT,Department of Transportation,Street Light Condition,Street Light Cycling,NaN,10031.0,393 EDGECOMBE AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,45299623,2020-01-03 14:59:38,2020-01-21 09:02:20,HPD,Department of Housing Preservation and Develop...,PAINT/PLASTER,WALL,RESIDENTIAL BUILDING,11207.0,509 HINSDALE STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,40.662233,-73.898201,"(40.6622326, -73.8982006)",426.0
9996,45299625,2020-01-03 15:06:27,2020-01-03 16:19:46,NYPD,New York City Police Department,Noise - Vehicle,Car/Truck Horn,Street/Sidewalk,11366.0,159-06 UNION TURNPIKE,...,NaN,NaN,NaN,NaN,NaN,NaN,40.720328,-73.807761,"(40.7203282, -73.8077606)",1.0
9997,45299627,2020-01-03 10:06:00,2020-01-03 12:00:00,DSNY,BCC - Brooklyn South,Missed Collection (All Materials),1R Missed Recycling-All Materials,Sidewalk,11223.0,2441 CONEY ISLAND AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,40.597329,-73.961103,"(40.5973294, -73.961103)",1.0
9998,45299631,2020-01-03 18:14:23,2020-01-03 20:17:18,NYPD,New York City Police Department,Illegal Parking,Blocked Bike Lane,Street/Sidewalk,11205.0,119 VANDERBILT AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,40.694371,-73.970065,"(40.6943711, -73.9700654)",2.0
9999,45299632,2020-01-03 08:24:33,2020-01-04 17:04:02,HPD,Department of Housing Preservation and Develop...,HEAT/HOT WATER,ENTIRE BUILDING,RESIDENTIAL BUILDING,11377.0,41-26 53 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,40.745089,-73.911394,"(40.7450888, -73.9113944)",32.0

In [74]:
df['Month'] = df[2].dt.month
df

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,Response_time,Month
0,46920293,2020-07-20 10:51:12,2020-09-05 12:32:48,DPR,Department of Parks and Recreation,Damaged Tree,Branch or Limb Has Fallen Down,Street,11234.0,1749 EAST 31 STREET,...,NaN,NaN,NaN,NaN,NaN,40.611464,-73.939434,"(40.61146397103902, -73.93943433010804)",1129.0,9
1,46930483,2020-07-21 14:13:58,2020-09-05 13:37:31,MAYORâS OFFICE OF SPECIAL ENFORCEMENT,Mayorâs Office of Special Enforcement,NonCompliance with Phased Reopening,Business not in compliance,Store/Commercial,11210.0,2704 GLENWOOD ROAD,...,NaN,NaN,NaN,NaN,NaN,40.633719,-73.950720,"(40.633718643537684, -73.9507199410522)",1103.0,9
2,46997111,2020-07-27 12:56:33,2020-09-05 08:51:14,DPR,Department of Parks and Recreation,Damaged Tree,Branch or Limb Has Fallen Down,Street,11354.0,151-23 28 AVENUE,...,NaN,NaN,NaN,NaN,NaN,40.772734,-73.812660,"(40.77273372358884, -73.81266028241241)",955.0,9
3,46583727,2020-06-22 18:17:00,2020-06-23 08:59:00,DOT,Department of Transportation,Street Light Condition,Street Light Lamp Missing,NaN,10451.0,2510 PARK AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,6
4,46576371,2020-06-21 03:30:00,2020-06-22 21:50:00,DOT,Department of Transportation,Street Light Condition,Street Light Cycling,NaN,10031.0,393 EDGECOMBE AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,45299623,2020-01-03 14:59:38,2020-01-21 09:02:20,HPD,Department of Housing Preservation and Develop...,PAINT/PLASTER,WALL,RESIDENTIAL BUILDING,11207.0,509 HINSDALE STREET,...,NaN,NaN,NaN,NaN,NaN,40.662233,-73.898201,"(40.6622326, -73.8982006)",426.0,1
9996,45299625,2020-01-03 15:06:27,2020-01-03 16:19:46,NYPD,New York City Police Department,Noise - Vehicle,Car/Truck Horn,Street/Sidewalk,11366.0,159-06 UNION TURNPIKE,...,NaN,NaN,NaN,NaN,NaN,40.720328,-73.807761,"(40.7203282, -73.8077606)",1.0,1
9997,45299627,2020-01-03 10:06:00,2020-01-03 12:00:00,DSNY,BCC - Brooklyn South,Missed Collection (All Materials),1R Missed Recycling-All Materials,Sidewalk,11223.0,2441 CONEY ISLAND AVENUE,...,NaN,NaN,NaN,NaN,NaN,40.597329,-73.961103,"(40.5973294, -73.961103)",1.0,1
9998,45299631,2020-01-03 18:14:23,2020-01-03 20:17:18,NYPD,New York City Police Department,Illegal Parking,Blocked Bike Lane,Street/Sidewalk,11205.0,119 VANDERBILT AVENUE,...,NaN,NaN,NaN,NaN,NaN,40.694371,-73.970065,"(40.6943711, -73.9700654)",2.0,1
9999,45299632,2020-01-03 08:24:33,2020-01-04 17:04:02,HPD,Department of Housing Preservation and Develop...,HEAT/HOT WATER,ENTIRE BUILDING,RESIDENTIAL BUILDING,11377.0,41-26 53 STREET,...,NaN,NaN,NaN,NaN,NaN,40.745089,-73.911394,"(40.7450888, -73.9113944)",32.0,1

In [75]:
df1 = df
#df1 = df.groupby([[8, 'Month']], as_index=False).mean()
#df1 = df1[[x, 'Response_time']]
df1 = df1[[8,'Month','Response_time']]

In [76]:
df1 = df1.rename(columns = {8: 'zipcode'})
df1

      zipcode  Month  Response_time
0     11234.0      9         1129.0
1     11210.0      9         1103.0
2     11354.0      9          955.0
3     10451.0      6           14.0
4     10031.0      6           42.0
...       ...    ...            ...
9995  11207.0      1          426.0
9996  11366.0      1            1.0
9997  11223.0      1            1.0
9998  11205.0      1            2.0
9999  11377.0      1           32.0

[10000 rows x 3 columns]

In [78]:
df1.to_csv("../data/extract_response.csv", index = False)

In [106]:
df2 = df1.pivot_table(index='zipcode', columns = 'Month')
df2.rename_axis(None)
df2

        Response_time
Month               1        2      3    4   5       6    7          8      9
zipcode
10001.0    109.340000      NaN    2.0  NaN NaN     NaN  0.0  17.000000   96.0
10002.0    104.155963   774.25    0.0  0.0 NaN     NaN  1.0  45.400000    NaN
10003.0    106.618421  1146.25    0.0  NaN NaN     NaN  0.0  55.333333    NaN
10004.0     33.000000      NaN  821.5  NaN NaN     NaN  NaN        NaN    NaN
10005.0     82.562500      NaN    NaN  NaN NaN     NaN  NaN        NaN    NaN
...               ...      ...    ...  ...  ..     ...  ...        ...    ...
11436.0     34.428571   804.00    NaN  NaN NaN     NaN  0.0        NaN  595.0
11691.0     41.595238      NaN    NaN  NaN NaN  4224.0  1.5  41.500000    NaN
11692.0     27.428571      NaN    NaN  NaN NaN     NaN  0.0  70.800000    NaN
11693.0     12.833333      NaN    NaN  NaN NaN     NaN  0.0        NaN    NaN
11694.0    179.500000      NaN    NaN  NaN NaN     NaN  0.5  65.250000    NaN

[187 rows x 9 columns]

In [95]:
df2['Month'] = df2.index
df2

        Response_time                                                          \
Month               1        2      3    4   5       6    7          8      9
10001.0    109.340000      NaN    2.0  NaN NaN     NaN  0.0  17.000000   96.0
10002.0    104.155963   774.25    0.0  0.0 NaN     NaN  1.0  45.400000    NaN
10003.0    106.618421  1146.25    0.0  NaN NaN     NaN  0.0  55.333333    NaN
10004.0     33.000000      NaN  821.5  NaN NaN     NaN  NaN        NaN    NaN
10005.0     82.562500      NaN    NaN  NaN NaN     NaN  NaN        NaN    NaN
...               ...      ...    ...  ...  ..     ...  ...        ...    ...
11436.0     34.428571   804.00    NaN  NaN NaN     NaN  0.0        NaN  595.0
11691.0     41.595238      NaN    NaN  NaN NaN  4224.0  1.5  41.500000    NaN
11692.0     27.428571      NaN    NaN  NaN NaN     NaN  0.0  70.800000    NaN
11693.0     12.833333      NaN    NaN  NaN NaN     NaN  0.0        NaN    NaN
11694.0    179.500000      NaN    NaN  NaN NaN     NaN  0.5  65.250000    NaN

           Month
Month
10001.0  10001.0
10002.0  10002.0
10003.0  10003.0
10004.0  10004.0
10005.0  10005.0
...          ...
11436.0  11436.0
11691.0  11691.0
11692.0  11692.0
11693.0  11693.0
11694.0  11694.0

[187 rows x 10 columns]

In [96]:
df2.iloc[0,0]

109.34

In [97]:
df1['Response_time'].dtypes

dtype('float64')

In [114]:
df2.iloc[0,:]

               Month
Response_time  1        109.34
               2           NaN
               3          2.00
               4           NaN
               5           NaN
               6           NaN
               7          0.00
               8         17.00
               9         96.00
Name: 10001.0, dtype: float64

In [115]:
df3 = df1.groupby(['zipcode','Month']).mean()
df3

               Response_time
zipcode Month
10001.0 1         109.340000
        3           2.000000
        7           0.000000
        8          17.000000
        9          96.000000
...                      ...
11693.0 1          12.833333
        7           0.000000
11694.0 1         179.500000
        7           0.500000
        8          65.250000

[732 rows x 1 columns]

In [127]:
df3 = df3.reset_index()
df3

     zipcode  Month  Response_time
0    10001.0      1     109.340000
1    10001.0      3       2.000000
2    10001.0      7       0.000000
3    10001.0      8      17.000000
4    10001.0      9      96.000000
..       ...    ...            ...
727  11693.0      1      12.833333
728  11693.0      7       0.000000
729  11694.0      1     179.500000
730  11694.0      7       0.500000
731  11694.0      8      65.250000

[732 rows x 3 columns]

In [130]:
df3[df3['zipcode']==10001]['Response_time']

0    109.34
1      2.00
2      0.00
3     17.00
4     96.00
Name: Response_time, dtype: float64